.postMeta  {
    text-align: center;
    margin-bottom: 2.5em;
}

.postTitle {
    color: inherit;
    display: inline-block;
    font-size: 1.8rem;
    margin-bottom: 10px;
    font-weight: normal;
}

.postTitle:hover {
    color:#888888
}

.postTitle:visited {
    color:#888888
}

.time:after {
    content: "";
    width: 1px;
    height: 12px;
    background: #DEDEDE;
    margin: 0 10px 0 10px;
    display: inline-block;
}

.author {
    text-decoration: none;
}

.author:visited{
    color: inherit;
}

.author:hover {
    color:#56ABE4;
}

.postImagePlaceholder {
    width:100%;
    height:250px;
    margin-bottom: 1em;
    position:relative;
    display: inline-block;
    border: none;
    background:#ccc no-repeat center center url("/assets/no-image.jpg");
    vertical-align: top;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.postImagePlaceholder:before {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.25) 65%, rgb(255, 255, 255) 100%)
}

.excerpt {
    margin-bottom: 30px;
}

.readMoreBox {
    text-align: center;
    margin-bottom: 35px;
}

.readMore {
    position: relative;
    color:#56ABE4;
}

.readMore:before,.readMore:after {
    height:0;
    width:60px;
    position: absolute;
    content: "";
    border-bottom:solid 1px #56ABE4;
    left:110%;
    top:50%;
    transition: all 0.3s;
}

.readMore:before {
    right:110%;
    left:auto;
}

.readMore:hover:before {
    right: 150%;
    width: 90px;
}

.readMore:hover:after {
    left: 150%;
    width: 90px;
}

.postBoxMeta {
    margin-bottom: 10px;
    padding: 10px 0;
    border-top: 1px solid #DEDEDE;
    border-bottom: 1px solid #DEDEDE ;
    text-align: center;
    color: #888888;
}

.boxMeta {
    text-align: center;
    display: inline-block;
}

.readCounter:after {
    content: "";
    height: 15px;
    width: 1px;
    background:  #DEDEDE;
    display: inline-block;
    margin: 0 27px 0 25px;
}