

.readMoreBox {
    text-align: center;
    margin-bottom: 35px;
}

.readMore {
    position: relative;
    color:#56ABE4;
}

.readMore:before,.readMore:after {
    height:0;
    width:60px;
    position: absolute;
    content: "";
    border-bottom:solid 1px #56ABE4;
    left:110%;
    top:50%;
    transition: all 0.3s;
}

.readMore:before {
    right:110%;
    left:auto;
}

.readMore:hover:before {
    right: 150%;
    width: 90px;
}

.readMore:hover:after {
    left: 150%;
    width: 90px;
}

.postBoxMeta {
    margin-bottom: 10px;
    padding: 10px 0;
    border-top: 1px solid #DEDEDE;
    border-bottom: 1px solid #DEDEDE ;
    text-align: center;
    color: #888888;
}

.boxMeta {
    text-align: center;
    display: inline-block;
}

.readCounter:after {
    content: "";
    height: 15px;
    width: 1px;
    background:  #DEDEDE;
    display: inline-block;
    margin: 0 27px 0 25px;
}